.env

src/bin/cldebug

tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.vim/bundle/
.vim/bundle/*
.vim/plugged/
.vim/plugged/*

home/.gitconfig
.tmp/
tmp/

# ignore .claude files, with some exceptions
home/.claude/
!home/.claude/commands/
!home/.claude/concepts/
!home/.claude/templates/
!home/.claude/agents/
!home/.claude/skills/
!home/.claude/scripts/