.env

src/bin/cldebug

tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.vim/bundle/
.vim/plugged/

home/.gitconfig
.tmp/
tmp/
test-manual.sh

home/.claude/settings.json

# ignore home/.claude files, with some exceptions
home/.claude/*
!home/.claude/commands/
!home/.claude/concepts/
!home/.claude/templates/
!home/.claude/agents/
!home/.claude/skills/
!home/.claude/scripts/

# ignore .claude files, with some exceptions
.claude/*
!.claude/commands/
!.claude/concepts/
!.claude/templates/
!.claude/agents/
!.claude/skills/
!.claude/scripts/

# ignore opencode files, with some exceptions
home/.config/opencode/*
!home/.config/opencode/commands/
!home/.config/opencode/concepts/
!home/.config/opencode/templates/
!home/.config/opencode/agents/
!home/.config/opencode/skills/
!home/.config/opencode/scripts/


